body {
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
    img#logo {
        width: 110px;
    }
}

.cgpaCalculation {
    display: none;
}

.selection {
    text-align: center;
}

.labelDarkMode {
    --bs-border-opacity: 0;
}

img#switchToLightMode {
    display: none;
}

